.member-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #0E0A29C9;
    color: white;
}

.member-container h2{
    color: white;
}

.member-container h2:nth-child(2){
    text-decoration: underline;
    text-underline-offset: 15px; 
    text-decoration-color: red;
}

.member-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.add-member-btn {
    padding: 8px 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    width: fit-content;
}

.add-member-btn:hover {
    background-color: #0056b3;
}

.member-list {
    list-style: none;
    padding: 0;
}

.member-container .member-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.member-container .member-info p {
    margin: 5px 0;
}

.member-container .edit-icon {
    font-size: 18px;
    color: red;
    cursor: pointer;
    transition: color 0.3s ease;
}

.member-container .edit-icon:hover {
    color: #cc1d1dc9;
}
